/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require bootstrap-theme
*= require bootstrap-select
*= require_self
*/

.spacing {
    margin: 20px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}